@import url("./dsrf-overrides.css");
@import url("./components/fieldset.css");
@import url("./components/nav.css");
@import url("./components/header.css");
@import url("./utils.css");

:root {
  --blue-france: #000091;
  --blue-france-300: #9a9aff;
  --blue-france-hover: #1414b2;
  --black-euphro: #383838;
  --g-100: #f8f8f8;

  --primary: var(--blue-france);

  --header-bg: var(--background-default-grey);
  --header-color: var(--text-title-grey);

  --button-bg: var(--background-active-blue-france);
  --button-hover-bg: var(--blue-france-main-525);
  --link-fg: var(--primary);
  --default-button-bg: var(--blue-france-300);
  --default-button-hover-bg: var(--blue-france-hover);

  --grey-1000: #161616;
}

body {
  font-family: "Marianne", "Roboto", "Lucida Grande", "DejaVu Sans",
    "Bitstream Vera Sans", Verdana, Arial, sans-serif;
  background-color: var(--background-default-grey);
}

a:link,
a:visited {
  color: inherit;
}

.content h1 {
  font-size: 1.5rem;
  line-height: 2rem;
}

#branding h1,
#branding h1 a:link,
#branding h1 a:visited {
  color: var(--text-title-grey);
  font-weight: bold;
}

#user-tools {
  font-weight: 400;
}
#user-tools a:link,
#user-tools a:visited {
  color: var(--text-title-grey);
}
#user-tools #logout-link {
  color: var(--delete-button-bg);
}

.module caption {
  background-color: var(--background-default-grey);
}
.module caption a.section:link,
.module caption a.section:visited {
  color: var(--text-title-grey);
}
.module caption th {
  font-weight: 400;
}

tr:nth-child(2n + 1),
.row-form-errors {
  background: var(--darkened-bg);
}
tr:nth-child(2n),
tr:nth-child(2n) .errorlist,
tr:nth-child(2n + 1) + .row-form-errors,
tr:nth-child(2n + 1) + .row-form-errors .errorlist {
  background: var(--body-bg);
}

.inline-group h2 {
  text-transform: inherit;
}

ul.messagelist li {
  cursor: pointer;
}
ul.messagelist li span.close {
  float: right;
  font-weight: 800;
  color: var(--body-quiet-color);
  cursor: pointer;
}

label.required:after {
  content: " *" !important;
}

.change-list .object-tools {
  margin-top: -128px;
}

.change-form .object-tools {
  margin-top: -64px;
}

.project-tabs {
  margin-bottom: 30px;
}

.project-tabs ul {
  display: flex;
  padding: 0;
  border-bottom: 1px solid var(--border-default-grey);
}
.project-tabs li {
  list-style-type: none;
  margin-right: 1rem;
}
.project-tabs a {
  font-size: 1.15rem;
  color: var(--text-title-grey);
  box-shadow: none;
}

.project-tabs a:hover {
  color: var(--text-active-blue-france);
}

.project-tabs li.active a {
  color: var(--text-active-blue-france);
  font-weight: bold;
}

.project-tabs span.underline {
  height: 2px;
  width: 100%;
  background-color: var(--text-active-blue-france);
  display: block;
  margin-top: 5px;
}

ul li {
  list-style-type: none;
}

/* purgecss start ignore */
.fr-tag.to_schedule {
  background: var(--background-contrast-yellow-tournesol);
}
.fr-tag.scheduled {
  background: var(--background-contrast-red-marianne);
}
.fr-tag.ongoing {
  background: var(--background-contrast-green-bourgeon);
}
.fr-tag.finished {
  background: var(--background-contrast-blue-ecume);
}

.delete-confirmation form .button.cancel-link {
  height: unset;
}

/* purgecss end ignore */
