{% load i18n %}

{% autoescape off %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% trans "Data request received" %}</title>
</head>
<body>
    <h1>{% trans "Data Request" %}</h1>
    <p>{% blocktrans with facility_name=facility_name %}We have received your data request. A member of the {{ facility_name }} team will review it as soon as posible and get back to you.{% endblocktrans %}</p>
        
    <p>{% trans "Have a good day," %}</p>
    <p>{% blocktrans with facility_name=facility_name %}The {{ facility_name }} Team{% endblocktrans %}</p>
</body>
</html>
{% endautoescape %}
