{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
    &rsaquo; {% translate 'Profile registration (2/2)' %}
</div>
{% endblock %}

{% block content %}

<p>{% translate "Fill up you information." %}</p>

<form method="post">{% csrf_token %}
    <fieldset class="module aligned">
        <div class="form-row field-first_name">
            {{ form.first_name.errors }}
            <label for="id_first_name">{% translate 'First name:' %}</label>
            {{ form.first_name }}
        </div>
        <br>
        <div class="form-row field-last_name">
            {{ form.last_name.errors }}
            <label for="id_last_name">{% translate 'Last name:' %}</label>
            {{ form.last_name }}
        </div>
        <div class="form-row field-profession">
            {{ form.profession.errors }}
            <label for="id_profession">{% translate 'Profession:' %}</label>
            {{ form.profession }}
        </div>
        <input type="submit" value="{% translate 'Save' %}">
    </fieldset>
</form>
{% endblock %}