version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: "weekly"
      time: "07:00"
      timezone: "Europe/Paris"
    cooldown:
      default-days: 7
      include: "*"
  - package-ecosystem: pip
    directory: /
    schedule:
      interval: "weekly"
      time: "07:00"
      timezone: "Europe/Paris"
    cooldown:
      default-days: 7
      include: "*"