{% extends "admin/change_list.html" %}
{% load static projects run_list admin_urls i18n admin_list %}

{% block content_title %}{% endblock %}

{% if not is_popup %}
    {%  block top_header_data %}
      {% project_header_json_data project.id %}
    {% endblock %}
{% endif %}

{% comment %} Hide object-tools in this page as the project param in URL in not right {% endcomment %}
{% block object-tools %}{% endblock %}

{% block content %}
  {% if project %}
    <div class="fr-container">
      {% project_tabs project.id request %}
    </div>
  {% endif %}
{{ block.super }}
{% endblock %}

{% block result_list %}
<div class="fr-container fr-mt-3w">

  {% show_run_list request cl project %}

  <div class="run-footer">
    <div class="add-row align-right">
      <button id="run-changestate-action" type="submit" class="fr-btn" name="index" value="0" style="display: none"></button>
    </div>
  </div>
</div>
{% endblock %}

{% block pagination %}{% endblock %}

<!-- Hide filters -->
{% block filters %}{% endblock %}

{% block footer %}
<script type="text/javascript" src="{% static 'pages/run-change-list.js' %}"></script>
{{ block.super }}
{% endblock %}
