{% extends "admin/change_form.html" %}
{% load i18n admin_urls projects %}

{% block top_header %}
    {% project_header project.id %}
{% endblock %}

{% block content %}
{% project_tabs project.id request %}
{{ block.super }}
{% endblock %}

{% block field_sets %}
{% for fieldset in adminform %}
    {% if fieldset.name == "METHODS" %}
        {% include "admin/lab/run/includes/methods_fieldset.html" %}
    {% else %}
        {% include "admin/includes/fieldset.html" %}
    {% endif %}
{% endfor %}
{% endblock %}

{% if project %}
{%  block top_header_data %}
    {% project_header_json_data project.id %}
{% endblock %}
{% endif %}