{% extends "admin/change_form.html" %}
{% load i18n admin_urls projects %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
{% if project %}&rsaquo; <a href="{% url 'admin:lab_project_change' project.id %}">{{project}}</a>{%endif%}
&rsaquo; {% if has_view_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; {% if add %}{% blocktranslate with name=opts.verbose_name %}Add {{ name }}{% endblocktranslate %}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}

{% block content %}
{% project_tabs project.id request %}
{{ block.super }}
{% endblock %}

{% block field_sets %}
{% for fieldset in adminform %}
    {% if fieldset.name == "METHODS" %}
        {% include "admin/lab/run/includes/methods_fieldset.html" %}
    {% else %}
        {% include "admin/includes/fieldset.html" %}
    {% endif %}
{% endfor %}
{% endblock %}
