{% extends "admin/base_site.html" %}
{% load i18n l10n admin_urls static %}

{% block extrahead %}
    {{ block.super }}
    {{ media }}
    <script src="{% static 'admin/js/cancel.js' %}" async></script>
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} delete-source-data-confirmation{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; {% translate 'Delete source data' %}
</div>
{% endblock %}

{% block content %}
<p>{% translate "Are you sure you want to delete source data for the selected lifecycle operations?" %}</p>
<h2>{% translate "Operations" %}</h2>
<ul>
    {% for operation in queryset %}
    <li>{{ operation.operation_id }} - {{ operation.project_data.project.name }}</li>
    {% endfor %}
</ul>
<form method="post">{% csrf_token %}
    {% for operation in queryset %}
    <input type="hidden" name="{{ action_checkbox_name }}" value="{{ operation.pk|unlocalize }}">
    {% endfor %}
    <input type="hidden" name="action" value="delete_source_data">
    <input type="hidden" name="post" value="yes">
    <input type="submit" value="{% translate 'Yes, I’m sure' %}">
    <a role="button" href="#" class="button cancel-link">{% translate "No, take me back" %}</a>
</form>
{% endblock %}
