{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list list_results %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "css/admin/project-changelist.css" %}">
{{ block.super }}
{% endblock %}

{% block content_title %}
{% if title %}<div class="fr-container flex-container">
  <h1>{{ title }}</h1>
  <div>
    <a class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-add-circle-line" href="{% url 'admin:euphro_auth_userinvitation_add' %}">
      {% trans "Invite user" %}
    </a>
  </div>
</div>{% endif %}
{% endblock %}

{% block content %}
  <div class="fr-container">
    {{ block.super}}
  </div>
{% endblock %}
