#top-header {
  width: 100%;
  height: 4.625rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#top-header #header-left-content {
  flex-grow: 1;
}

#top-header #user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#top-header #user-info #user-info-left {
  font-size: small;
  text-align: right;
}

#top-header #user-info #user-info-fullname {
  color: var(--text-default-grey);
}

#top-header #user-info #user-info-role {
  margin-top: -8px;
  color: var(--text-disabled-grey);
}

#top-header #user-info #user-info-profile-picture {
  width: 2rem;
  height: 2rem;
  border-radius: 9999px;
  border: 0.5px var(--border-action-high-grey) solid;
  background-color: var(--text-disabled-grey);
}

#top-header #user-info #logout-link {
  color: var(--delete-button-bg);
}

.context-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.context-header .context-header-back {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.context-header .ri-arrow-right-s-line {
  font-size: 1.75rem;
}

.context-header .header-back-link-title {
  margin-bottom: 4px;
}

.context-header a:hover .header-back-link-title,
.context-header a:hover .context-header-back-icon {
  color: var(--text-active-blue-france);
}

.context-header a:focus {
  text-decoration: none;
}

.context-header h3.context-header-name {
  margin-bottom: 6px;
}

.context-header .project-status {
  margin: 0 1rem;
}

.context-header .project-leader {
  display: flex;
  flex-direction: column;
  margin-left: 22px;
}

.context-header .fr-text--xs,
.context-header .fr-text--sm {
  margin-bottom: 0;
}
