{% extends 'admin/base.html' %}
{% load i18n static %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "main.css"%}">
    <!-- Add custom style -->
    {% if not is_popup and is_nav_sidebar_enabled %}
        <link rel="stylesheet" type="text/css" href="{% static "admin/css/nav_sidebar.css" %}">
    {% endif %}
    <!-- End add -->
{% endblock %} 
{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="{% static 'main.js' %}"></script>
{% endblock %}

<!-- Desactivation du header -->
{% block header %}{% endblock %}

<!-- Ajout de la sidebar à côté de celle de l'admin. On faire la cacher des non superuser ici -->
{% block nav-sidebar %}
    {% if user.is_superuser %}
        {{ block.super }}
    {% endif %}
    {% include "./sidebar/main_sidebar.html" %}
{% endblock %}

{% block welcome-msg %}
    <strong>{% firstof user.get_full_name user.get_username %}</strong> {% if user.is_superuser or user.is_lab_admin %} (Admin) {% endif %} /
{% endblock %}

{% block userlinks %}
    <a href="{% url 'admin:logout' %}" id="logout-link"
    >{% translate 'Log out' %}</a
>
{% endblock %}

{% block messages %}
    <div id="top-header" class="fr-pr-5v">
        <div id="header-left-content">
            {% block top_header %}{% endblock %}
        </div>
        <div id="user-info">
            <div id="user-info-left">
                <div id="user-info-fullname">
                    {% firstof user.get_full_name user.get_username %} /
                    <a href="{% url 'admin:logout' %}" id="logout-link">{% translate 'Log out' %}</a>
                </div>
                <div id="user-info-role">
                    {% if user.is_superuser or user.is_lab_admin %}
                        {% translate "Admin" %}
                    {% else %}
                        {% translate "User" %}
                    {% endif %}
                </div>
            </div>
            {% comment %} <div id="user-info-profile-picture" class="fr-ml-1w">
            </div> {% endcomment %}
        </div>
    </div>
{% endblock %}