{% extends 'admin/base.html' %}
{% load i18n static %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/base.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "main.css"%}"></link>
{% endblock %}
{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="{% static 'main.js' %}"></script>
{% endblock %}

{% block welcome-msg %}
    <strong>{% firstof user.get_full_name user.get_username %}</strong>
    {% if user.is_superuser or user.is_lab_admin %} (Admin) {% endif %} /
{% endblock %}

{% block userlinks %}
    <a href="{% url 'admin:logout' %}" id="logout-link">{% translate 'Log out' %}</a>
{% endblock %}

