@font-face {
  font-family: "Marianne";
  src: local("Marianne"),
    url("/static/fonts/Marianne/Marianne-Regular.woff") format("woff"),
    url("/static/fonts/Marianne/Marianne-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne_Italic"),
    url("/static/fonts/Marianne/Marianne-Regular_Italic.woff") format("woff"),
    url("/static/fonts/Marianne/Marianne-Regular_Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne"),
    url("/static/fonts/Marianne/Marianne-Medium.woff") format("woff"),
    url("/static/fonts/Marianne/Marianne-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne-Bold"),
    url("/static/fonts/Marianne/Marianne-Bold.woff") format("woff"),
    url("/static/fonts/Marianne/Marianne-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Marianne";
  src: local("Marianne-Bold_Italic"),
    url("/static/fonts/Marianne/Marianne-Bold_Italic.woff") format("woff"),
    url("/static/fonts/Marianne/Marianne-Bold_Italic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne-ExtraBold"),
    url("/static/fonts/Marianne/Marianne-ExtraBold.woff") format("woff"),
    url("/static/fonts/Marianne/Marianne-ExtraBold.woff2") format("woff2");
  font-weight: 800;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne-Light"),
    url("/static/fonts/Marianne/Marianne-Thin.woff") format("woff"),
    url("/static/fonts/Marianne/Marianne-Thin.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne-Light_Italic"),
    url("/static/fonts/Marianne/Marianne-Thin_Italic.woff") format("woff"),
    url("/static/fonts/Marianne/Marianne-Thin_Italic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

:root {
  --blue-france: #000091;
  --blue-france-300: #9a9aff;
  --blue-france-hover: #1414b2;
  --black-euphro: #383838;
  --g-100: #f8f8f8;

  --primary: var(--blue-france);

  --header-bg: white;
  --header-color: var(--black-euphro);

  --button-bg: var(--primary);
  --button-hover-bg: var(--blue-france-hover);
  --link-fg: var(--primary);
  --default-button-bg: var(--blue-france-300);
  --default-button-hover-bg: var(--blue-france-hover);
}

body {
  font-family: "Marianne", "Roboto", "Lucida Grande", "DejaVu Sans",
    "Bitstream Vera Sans", Verdana, Arial, sans-serif;
  background-color: var(--g-100);
}

#branding h1,
#branding h1 a:link,
#branding h1 a:visited {
  color: var(--black-euphro);
  font-weight: bold;
}

#user-tools {
  font-weight: 400;
}
#user-tools a:link,
#user-tools a:visited {
  color: var(--black-euphro);
}

.module caption {
  background-color: white;
}
.module caption a.section:link,
.module caption a.section:visited {
  color: var(--black-euphro);
}

.module th {
  font-weight: 400;
}

tr:nth-child(2n + 1),
.row-form-errors {
  background: var(--darkened-bg);
}
tr:nth-child(2n),
tr:nth-child(2n) .errorlist,
tr:nth-child(2n + 1) + .row-form-errors,
tr:nth-child(2n + 1) + .row-form-errors .errorlist {
  background: var(--body-bg);
}
