{% extends "admin/base_site.html" %}
{% load i18n admin_urls static projects %}

{% block content_title %}{% endblock %}

{% block bodyclass %}{% endblock %}

{% block coltype %}colM{% endblock %}

{% block content_subtitle %}{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static "css/pages/notebook.css" %}">
{{ block.super }}
{% endblock %}

{%  block top_header_data %}
    {% project_header_json_data project.id %}
{% endblock %}

{% block content %}

<div class="fr-container">
    {% include "notebook/includes/breadcrumb.html" %}
</div>

<div id="content-main" class="fr-container">
    <ul class="messagelist"></ul>

    <div class="flex-container fr-mt-3w">
        <h2>{{ run.label }}</h2>
        <div>
            <a class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-download-line" href="notebook/export-pdf">
                {% translate "Export" %}
            </a>
            <button class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-time-line" disabled>
                {% translate "Timestamp request" %}
            </button>
        </div>
    </div>

    <div class="fr-mt-3w">
        <div class="fr-card fr-card--no-arrow card-condition-experimental">
            <div class="fr-card__body">
            <div class="fr-card__desc fr-mt-1w">
                {% include "admin/lab/run/includes/run_experimental_conditions.html" %}
            </div>
            </div>
        </div>
    </div>

    <div class="fr-mt-2w">
        <div class="fr-input-group">
            <label class="fr-label" for="run-comment-textarea">
              {% translate "Comments" %}
            </label>
            <textarea is="notebook-run-comments" class="fr-input" id="run-comment-textarea" name="textarea" rows="8" data-run-id="{{ run.id }}" >{{ notebook.comments }}</textarea>
        </div>
    </div>

    <div id="notebook" class="fr-mt-4w"></div>
</div>

{% endblock %}

{% block footer %}
{{ block.super }}
<script id="notebook-data" type="application/json">
    {{ json_data|safe }}
</script>

<script src="{% static 'pages/notebook.js' %}"></script>
{% endblock %}