<div class="dating-autocomplete-input autocomplete-input flex-container">
  <div class="typeahead-field fr-mr-1w">
    <div class="fr-input-wrap fr-icon-search-line">
      <input 
        {% if widget.instance %}value="{{ widget.instance.label }}"{% endif %} 
        id="{{widget.attrs.id}}__dating_{{ widget.field_name }}" 
        class="fr-input dating-autocomplete-input__label" 
        name="{{ widget.name }}__label" 
        autocomplete="off"
        type="text"
        />
    </div>
    <div 
      is="dating-open-theso-type-ahead" 
      thesorus-id="{{ widget.opentheso_theso_id }}"
      class="typeahead-list" 
      html-for="{{ widget.attrs.id }}__dating_{{ widget.field_name }}">
    </div>
  </div>
  
  <input 
    type="hidden" 
    {% if widget.value %}value="{{ widget.value }}"{% endif %} 
    name="{{ widget.name }}"
    id="{{widget.attrs.id}}" 
    class="fr-input dating-autocomplete-input__id"
  />
  <input 
    type="hidden" 
    {% if widget.instance and widget.instance.concept_id %}value="{{ widget.instance.concept_id }}"{% endif %} 
    name="{{ widget.name }}__concept_id" 
    id="{{widget.attrs.id}}__concept_id" 
    class="fr-input dating-autocomplete-input__concept_id"
  />
</div>