{% load i18n %}

<div class="autocomplete-input flex-container">
  <input name="{{ widget.name }}__name" {% if widget.instance %}value="{{ widget.instance.name }}"{% endif %} list="datalist-{{widget.name}}__choices" id="{{widget.id}}__name" class="fr-input autocomplete-input__name fr-mr-1w" placeholder="{% translate "Institution" %}">
  <datalist id="datalist-{{widget.name}}__choices">
    {% for choice in widget.choices %}
    <option value="{{choice.1}}"></option>
    {% endfor %}
  </datalist>
  <input name="{{ widget.name }}__country" {% if widget.instance %}value="{{ widget.instance.country }}"{% endif %} id="{{widget.id}}__country" class="fr-input autocomplete-input__country" placeholder="{% translate "Country" %}">

  <input type="hidden" {% if widget.value %}value="{{ widget.value }}"{% endif %} name="{{ widget.name }}" id="{{widget.id}}" class="fr-input autocomplete-input__id">
</div>