<div class="location-autocomplete-input autocomplete-input flex-container">
  <div class="typeahead-field fr-mr-1w">
    <input {% if widget.instance %}value="{{ widget.instance.label }}"{% endif %} id="{{widget.attrs.id}}__location" class="fr-input location-autocomplete-input__label" name="{{ widget.name }}__label" autocomplete="off">
    <div is="location-type-ahead" class="typeahead-list" html-for="{{ widget.attrs.id }}__location"></div>
  </div>
  
  <input type="hidden" {% if widget.value %}value="{{ widget.value }}"{% endif %} name="{{ widget.name }}" id="{{widget.attrs.id}}" class="fr-input location-autocomplete-input__id">
  <input type="hidden" {% if widget.instance %}value="{{ widget.instance.geonames_id }}"{% endif %} name="{{ widget.name }}__geonames_id" id="{{widget.attrs.id}}__geonames_id" class="fr-input location-autocomplete-input__geonames_id">
  
  <input type="hidden" {% if widget.instance %}value="{{ widget.instance.latitude }}"{% endif %} id="{{widget.attrs.id}}__latitude" class="fr-input location-autocomplete-input__latitude" name="{{ widget.name }}__latitude">
  <input type="hidden" {% if widget.instance %}value="{{ widget.instance.longitude }}"{% endif %} id="{{widget.attrs.id}}__longitude" class="fr-input location-autocomplete-input__longitude" name="{{ widget.name }}__longitude">

</div>