{% extends "unauthorized.html" %}
{% load i18n static %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/registration.css" %}">
{{ block.super }}
{% endblock %}

{% block content_title %}{% endblock %}

{% block content_panel %}

<h3>{% translate "Verify your information" %}</h3>

<form method="post">
  {% csrf_token %}
    {{ form.as_p }}

    <input type="submit" value="{% translate 'Save my information' %}" />
</form>

{% endblock %}
