{% load i18n %}{% autoescape off %}

<p>{% trans "Hello," %},</p>

<p>{% blocktranslate %}We are excited about your interest in conducting experiments using the New AGLAE particle accelerator at the Louvre.{% endblocktranslate %}</p>

<p>{% blocktranslate %}However, we noticed that you currently do not have a radiation protection certificate on file. This certification is a mandatory requirement for all researchers who wish to use the New AGLAE facilities, ensuring that everyone understands the necessary safety protocols and procedures.{% endblocktranslate %}</p>

<p>{% blocktranslate %}To assist you in obtaining this certification, we have prepared a comprehensive tutorial and quiz. By completing these, you will gain the necessary knowledge about radiation protection and be able to obtain your certificate.{% endblocktranslate %}</p>

<p>{% blocktranslate %}The PDF course is available by cicking on the following link:{% endblocktranslate %} <a href="https://euphroprodsa.blob.core.windows.net/static/AGLAE-radioprotection.pdf">{% trans "Access course" %}</a></p>

<p>{% blocktranslate %}When you have reviewed the course and are ready to take the the quizz, click on the following link:{% endblocktranslate %} <a href="{{ quizz_link }}?email={{email}}&passing_score={{passing_score}}">{% trans "Access quizz" %}</a></p>

<p>{% blocktranslate %}Once you have completed the quiz and obtained your certificate, you will be granted access to the New AGLAE facilities. If you have any questions or need further assistance, please do not hesitate to contact us.{% endblocktranslate %}</p>

<p>{% blocktranslate %}Thank you for your attention to this important matter. We look forward to your participation in the New AGLAE project.{% endblocktranslate %}</p>

<p>{% blocktranslate %}Best regards,{% endblocktranslate %}</p>

{% trans "The New AGLAE team" %} {% endautoescape %}
