{% load i18n %}
<div class="project-header">
    <a href="{% url 'admin:lab_project_changelist' %}" class="header-back-link">
        <div class="project-header-back">
            <div class="project-header-back-icon">
                <i class="ri-arrow-left-line fr-mr-1w" aria-hidden="true"></i>
            </div>
            <div class="header-back-link-title fr-text--md">
                {% translate 'Project' %}
            </div>
        </div>
    </a>
    {% if project %}
        <i class="ri-arrow-right-s-line" aria-hidden="true"></i> 
        <h3 class="project-header-name">{{ project.name }}</h3>
        <div class="project-status">
            <span class="fr-tag {{ status.class_name }}">
                {{ status.display }}
            </span>
        </div>
        <div class="project-leader">
            <span class="project-leader-label fr-text--xs">{% translate 'Leader' %}</span>
            <span class="project-leader-name fr-text--sm">{% firstof project.leader.user.get_full_name project.leader.user.get_username %}</span>
        </div>
    {% endif %}
</div>