{% extends "admin/base_site.html" %}
{% load static i18n %}

{% block header %}
{% if user.is_authenticated %}
    {{ block.super }}
{% else %}
    <header role="banner" class="fr-header">
        <div class="fr-header__body">
            <div class="fr-container">
                <div class="fr-header__body-row">
                    <div class="fr-header__brand">
                        <div class="fr-header__brand-top">
                            <div class="fr-header__service">
                                <a href="{% url 'admin:index' %}">
                                    <p class="fr-header__service-title">Euphrosyne</p>
                                </a>
                            </div>
                            <div class="fr-header__navbar">
                                <a href="{% url 'admin:login' %}"
                                   class="fr-btn fr-icon-account-line"
                                   title="{% translate 'Log in' %}">
                                    {% translate "Log in" %}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="fr-header__tools">
                        <div class="fr-header__tools-links">
                            <ul class="fr-btns-group">
                                <li>
                                    <a href="{% url 'admin:login' %}" class="fr-btn fr-icon-account-line">
                                        {% translate "Log in" %}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endif %}
{% endblock %}

{% block content_title %}
<div class="fr-container">
    {{ block.super }}
</div>
{% endblock %}

{% block content_subtitle %}
<div class="fr-container">
    {{ block.super }}

    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}">
        <div style="display: flex;">
            <select name="language" class="fr-select" style="width: 15rem;">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                        {{ language.name_local }} ({{ language.code }})
                    </option>
                {% endfor %}
            </select>
            <button type="submit" class="fr-btn fr-icon-arrow-right-line">{% trans 'Change' %}</button>
        </div>
    </form>

</div>{% endblock %}

{% block content %}
<div class="fr-container fr-mt-3w">
    <div class="fr-row">
        <div class="fr-col-md-8">
            {% block breadcrumbs %}
            {{ content | safe }}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "css/static-pages.css" %}">
{{ block.super }}
{{ form.media }}
{% endblock %}
