{% extends "unauthorized.html" %}
{% load i18n static %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static "admin/css/login.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}">
{{ block.super }}
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content_panel %}
  {{ block.super }}
  <div id="content-main">

      <h3>{% translate "New password" %}</h3>

      {% if validlink %}

      <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

      <form method="post">{% csrf_token %}
            <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
            <div class="form-row field-password1">
                {{ form.new_password1.errors }}
                <label for="id_new_password1">{% translate 'New password' %}:</label>
                {{ form.new_password1 }}
            </div>
            <div class="form-row field-password2">
                {{ form.new_password2.errors }}
                <label for="id_new_password2">{% translate 'Confirm password' %}:</label>
                {{ form.new_password2 }}
            </div>
            <input type="submit" class="fr-mt-4w" value="{% translate 'Change my password' %}">
        </form>
        {% else %}
        <p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
        {% endif %}
  </div>
{% endblock %}