{% extends "unauthorized.html" %}
{% load i18n static %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static "admin/css/login.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "login.css" %}">
{{ block.super }}
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content_panel %}
  {{ block.super }}
  <div id="content-main">

      <h3>{% translate "Password reset complete" %}</h3>

      <p>{% translate "Your password has been set. You may go ahead and log in now." %}</p>

      <a href="{{ login_url }}" class="fr-link fr-link--sm">{% translate 'Log in' %}</a>

  </div>
{% endblock %}