{% extends "unauthorized.html" %}
{% load i18n static %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static "admin/css/login.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "login.css" %}">
{{ block.super }}
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content_panel %}
  {{ block.super }}
  <div id="content-main">

    <form method="post">{% csrf_token %}
        <h3>{% translate "Reset password" %}</h3>

        <div class="form-row field-email">
            {{ form.email.errors }}
            <label for="id_email">{% translate 'Email address' %}:</label>
            {{ form.email }}
        </div>
        <div class="fr-mt-3v">
            <a class="fr-link fr-link--sm" href="{% url "admin:login" %}">{% translate 'Go back to login page' %}</a>
        </div>
        <input type="submit" class="fr-mt-4w" value="{% translate 'Reset password' %}">
    </form>
  </div>
{% endblock %}