{% extends "unauthorized.html" %}
{% load i18n static %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static "admin/css/login.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "login.css" %}">
{{ block.super }}
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content_panel %}
  {{ block.super }}
  <div id="content-main">

    <h3>{% translate "Email sent" %}</h3>

    <p>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>
    <p>{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>

    <div class="fr-mt-3v">
      <a class="fr-link fr-link--sm" href="{% url "admin:login" %}">{% translate 'Go back to login page' %}</a>
    </div>

  </div>
{% endblock %}