{% extends "admin/base_site.html" %}
{% load i18n admin_urls static projects %}

{% block coltype %}colM{% endblock %}

{% block content_subtitle %}{% endblock %}

{%  block top_header_data %}
    {% project_header_json_data project.id %}
{% endblock %}

{% block content %}
<div class="fr-container">
    {% project_tabs project.id request %}
</div>

<div id="content-main" class="fr-container">
    <ul class="messagelist"></ul>
    <fieldset class="module aligned">
        <h2>{% translate 'Documents' %}</h2>
        <div class="fr-p-1w">
            <div id="document-manager"></div>
        </div>
    </fieldset>
</div>
<script id="project-documents-data" type="application/json">
    {{ json_data|safe }}
</script>
<script src="{% static 'pages/document.js' %}"></script>

{% endblock %}