{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list list_results %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "css/admin/project-changelist.css" %}">
{{ block.super }}
{% endblock %}

{% block content %}
  <div class="fr-container">

    {% block content_title %}{% endblock %}
  
    {% if cl.formset and cl.formset.errors %}
        <p class="errornote">
        {% if cl.formset.total_error_count == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
        </p>
        {{ cl.formset.non_form_errors }}
    {% endif %}
    {% block date_hierarchy %}{% if cl.date_hierarchy %}{% date_hierarchy cl %}{% endif %}{% endblock %}


    <div class="{% if cl.has_filters %} filtered{% endif %}" id="changelist">
      <div class="changelist-form-container">
        <div>

          <div class="fr-grid-row fr-mb-3w">
            <div class="fr-col-12 fr-col-md-8">
              {% block search %}{% search_form cl %}{% endblock %}
            </div>
            <div class="fr-col-12 fr-col-md-4 align-right">
              <a class="fr-btn fr-btn--icon-left fr-icon-add-line" href={% url "admin:lab_project_add" %}>
                {% trans "Create new project" %}
              </a>
            </div>
          </div>

          <form id="changelist-form" method="post"{% if cl.formset and cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %} novalidate>{% csrf_token %}
        
          <div class="fr-grid-row fr-mb-5w">
          
          {% if has_data %}

            <div class="fr-col-12 fr-col-md-8">
              {% block filters %}
              {% if cl.has_filters %}
              <nav aria-labelledby="changelist-filter-header" class="changelist-filters">
                <h4 id="changelist-filter-header" class="fr-mb-1v">{% translate 'Filter' %}</h4>
                {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
              </nav>
            {% endif %}
            {% endblock %}
            </div>

            <div class="fr-col-12 fr-col-md-4 admin-actions">
              <div>
                {% if action_form and cl.show_admin_actions %}{% admin_actions %}{% endif %}
              </div>
            </div>
          </div>

          {% if cl.formset %}
          <div>{{ cl.formset.management_form }}</div>
          {% endif %}
         
          {% for qs in extra_qs %}
            <h3>{{ qs.title }}</h3>
            {% project_result_list cl qs.qs %}
          {% endfor %}

          {% block result_list %}
            {% project_result_list cl None True %}
          {% endblock %}
          {% block pagination %}{% pagination cl %}{% endblock %}

          <!-- no has_data -->
          {% else %}
          <div class="fr-mt-9w">
            {% include "admin/lab/project/change_list__no_project.html" %}
          </div>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const actionButton = document.querySelector('#delete-action-btn'),
      allCheckboxes = document.querySelectorAll('.action-select, #action-toggle');
      if(!actionButton) return;
      allCheckboxes.forEach(function(checkBox) {
        checkBox.addEventListener('change', function(el) {
          if (el.target.checked && actionButton.disabled) {
            actionButton.disabled = false;
          } else {
            const hasAnyChecked = Array.from(
                document.querySelector(".action-select")
              ).some(function(c) {
              return c.checked;
            });
            if(!hasAnyChecked && !actionButton.disabled) {
              actionButton.disabled = true;
            }
          }
        });
      });
    });
    </script>
{% endblock %}
