{% extends "admin/change_form.html" %}
{% load i18n admin_modify static projects %}

{% if not add %}
{%  block top_header_data %}
    {% project_header_json_data object_id %}
{% endblock %}
{% endif %}

{% block content %}
    {% if not add %}
    <div class="fr-container">
        {% project_tabs object_id request %}
    </div>
    {% endif %}
    <div id="content-main" class="project-{{ add|yesno:"add,change" }} fr-container fr-mt-3w">
        {% block object-tools %}
        {% if change and not is_popup %}
          <ul class="aglae-object-tools">
            {% block object-tools-items %}
              {% change_form_object_tools %}
            {% endblock %}
          </ul>
        {% endif %}
        {% endblock %}
        <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}{% if form_url %}action="{{ form_url }}" {% endif %}method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
            <div>
            {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1">{% endif %}
            {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}">{% endif %}
            {% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
            {% if errors %}
                <p class="errornote">
                {% blocktranslate count counter=errors|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktranslate %}
                </p>
                {{ adminform.form.non_field_errors }}
            {% endif %}

            <div class="fr-grid-row fr-grid-row--gutters fr-mb-3w">
                <div class="fr-col-12 {% if inline_admin_formsets.0 %}fr-col-md-6{% endif %}">
                    <div class="form-col">                        
                        {% block field_sets %}
                            {% for fieldset in adminform %}
                            {% include "admin/includes/fieldset.html" %}
                            {% endfor %}
                        {% endblock %}
                        
                        {% block after_field_sets %}{% endblock %}
                    </div>
                </div>
                {% block inline_field_sets %}
                {% for inline_admin_formset in inline_admin_formsets  %}
                {% if inline_admin_formset.opts.opts.label == "lab.BeamTimeRequest" %}
                    <div class="fr-col-12 fr-col-md-6">
                        <div class="form-col">
                            {% include inline_admin_formset.opts.template %}
                        </div>
                    </div>
                {% endif %}
                {% endfor %}

                </div>
                    {% for inline_admin_formset in inline_admin_formsets %}
                        {% if inline_admin_formset.opts.opts.label != "lab.BeamTimeRequest" %}
                        <div class="fr-grid-row">
                            <div class="fr-col-12">
                                <div class="form-col">
                                {% include inline_admin_formset.opts.template %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endblock %}

                <fieldset>
                    <div id="project-participations-form"></div>
                </fieldset>

            
            {% block after_related_objects %}{% endblock %}
            
            {% block submit_buttons_bottom %}{% submit_row %}{% endblock %}
            
            {% block admin_change_form_document_ready %}
                <script id="django-admin-form-add-constants"
                        src="{% static 'admin/js/change_form.js' %}"
                        {% if adminform and add %}
                            data-model-name="{{ opts.model_name }}"
                        {% endif %}
                        async>
            </script>
            {% endblock %}
            
            {# JavaScript for prepopulated fields #}
            {% prepopulated_fields_js %}
            
            </div>
        </form>
    </div>

    {# On-change-tab modal #}
    {% include "admin/lab/project/on_change_modal.html" %}
{% endblock %}


{% block footer %}
{{ block.super }}
<script id="project-changeform-data" type="application/json">
    {{ json_data|safe }}
</script>
{% endblock %}