{% load i18n static %}
{% if cl.search_fields %}
<div><form id="changelist-search" method="get" role="search">

    <div class="fr-search-bar" id="header-search" role="search">
        <label class="fr-label" for="project-list-search">
            {% translate "Search projects" %}
        </label>
        <input class="fr-input" placeholder="{% translate "Search projects" %}" type="search" id="project-list-search" name="{{ search_var }}" value="{{ cl.query }}">
        <button class="fr-btn" title="{% translate "Search" %}" type="submit">
            {% translate "Search" %}
        </button>
     </div>

<div><!-- DIV needed for valid HTML -->
{% if show_result_count %}
{% if cl.query %}
    <span class="small quiet">{% blocktranslate count counter=cl.result_count %}{{ counter }} result{% plural %}{{ counter }} results{% endblocktranslate %} ({% if cl.is_popup and cl.add_facets %}<a href="{% querystring cl.get_filters_params _popup=1 _facets="" %}">{% elif cl.is_popup %}<a href="{% querystring cl.get_filters_params _popup=1 %}">{% elif cl.add_facets %}<a href="{% querystring cl.get_filters_params _facets="" %}">{% else %}<a href="{% querystring cl.get_filters_params %}">{% endif %}{% if cl.show_full_result_count %}{% blocktranslate with full_result_count=cl.full_result_count %}{{ full_result_count }} total{% endblocktranslate %}{% else %}{% translate "Show all" %}{% endif %}</a>)</span>
{% else %}
    <span class="small quiet">{% blocktranslate count counter=cl.full_result_count %}{{ counter }} project{% plural %}{{ counter }} projects{% endblocktranslate %}</span>
{% endif %}
{% endif %}
{% for pair in cl.params.items %}
    {% if pair.0 != search_var %}<input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}">{% endif %}
{% endfor %}
</div>
{% if cl.search_help_text %}
<br class="clear">
<div class="help" id="searchbar_helptext">{{ cl.search_help_text }}</div>
{% endif %}
</form></div>
{% endif %}
