{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/admin/objectgroup.css" %}">
{% endblock %}
{% block extrahead %}
    <script src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static 'pages/objectgroup-import-provider.js' %}"></script>
    {{ form.media }}
{% endblock %}

{% block coltype %}colM{% endblock %}


{% block content_title %}{% if title %}
<div class="fr-container">
    <h1>{{ title }}</h1>{% endif %}
</div>
{% endblock %}

{% block content %}
<div id="content-main">
    <div class="fr-container">
        <form method="post">
            {% csrf_token %}
            {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1">{% endif %}
            <fieldset class="module aligned">
                <div class="description fr-pl-0">{% blocktranslate %}Use the search field to import an object from {{ provider_name }}. The name of the object will be displayed in the field after.{% endblocktranslate %}</div>
                <div class="form-row">
                {{ form }}
                </div>
            </fieldset>
            <div class="submit-row">
                <input type="submit" class="fr-btn" value="{% translate 'Save' %}" class="default" name="_save">
            </div>
        </form>
    </div>
</div>
{% endblock %}
