{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% block title %}{{ title }}{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "css/admin/project-documents.css" %}">{% endblock %}

{% block coltype %}colM{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label='lab' %}">Lab</a>
&rsaquo; <a href="{% url 'admin:lab_project_changelist' %}">{% translate 'Projects' %}</a>
&rsaquo; <a href="{% url 'admin:lab_project_change' project.id %}">{{ project.name|truncatewords:"18" }}</a>
&rsaquo; {% translate 'Upload documents' %}</a>
</div>
{% endblock %}

{% block content %}
<h1>{% blocktranslate with project_name=project.name %}
Project {{ project_name }} : upload documents
{% endblocktranslate %}</h1>

<div id="content-main">
    <form action="{% url 'admin:lab_project_documents_upload' project.id %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <fieldset class="module aligned">
            <div class="form-row">
            {{ form }}
            </div>
        </fieldset>
        <div class="submit-row">
            <input type="submit" value="{% translate 'Upload' %}" class="default" name="_save">
        </div>
    </form>
</div>
{% endblock %}