{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}


{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/admin/project-documents.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "dsfr/dsfr/component/upload/upload.min.css" %}">
{% endblock %}

{% block coltype %}colM{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label='lab' %}">Lab</a>
&rsaquo; <a href="{% url 'admin:lab_project_changelist' %}">{% translate 'Projects' %}</a>
&rsaquo; <a href="{% url 'admin:lab_project_change' project.id %}">{{ project.name|truncatewords:"18" }}</a>
&rsaquo; {% translate 'Documents' %}</a>
</div>
{% endblock %}

{% block content %}
<h1>{% blocktranslate with project_name=project.name %}
Project {{ project_name }} documents
{% endblocktranslate %}</h1>

<div id="content-main">
    <ul class="messagelist uploadmessages">
    </ul>
    <h2>{% translate 'Upload documents' %}</h2>
    <form id="upload-form">
        <div class="fr-upload-group">
            <label class="fr-label" for="file-upload">{% translate 'Add files' %}
                <span class="fr-hint-text">{% translate 'Max size allowed : 30 Mo. Multiple files allowed.' %}</span>
            </label>
            <input class="fr-upload" type="file" id="file-upload" name="files" multiple required>
        </div>
        <input value="{% translate 'Upload' %}" class="button" type="submit" id="upload-button">
    </form>
    <div class="documents-wrapper">
        <h2>{% translate 'Documents' %}</h2>
        {% if documents %}
        <div>
            {{documents}}
        </div>
        {% else %}
        <div class="no-document">
            {% translate 'No document yet' %}
        </div>
        {% endif %}
    </div>
</div>

<script type="text/javascript">
    const projectId = "{{ project.id }}";
</script>
<script src="{% url 'javascript-catalog' %}"></script>
<script src="{% static 'js/admin/project-documents.js' %}"></script>

{% endblock %}