{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}


{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "dsfr/component/component.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "dsfr/component/upload/upload.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/admin/project-documents.css" %}">
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block content_subtitle %}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label='lab' %}">Lab</a>
&rsaquo; <a href="{% url 'admin:lab_project_changelist' %}">{% translate 'Projects' %}</a>
&rsaquo; <a href="{% url 'admin:lab_project_change' project.id %}">{{ project.name|truncatewords:"18" }}</a>
&rsaquo; {% translate 'Documents' %}</a>
</div>
{% endblock %}

{% block content %}
<h1>{% blocktranslate with project_name=project.name %}
Project {{ project_name }} documents
{% endblocktranslate %}</h1>
<div id="content-main">
    <ul class="messagelist"></ul>
    <form id="upload-form">
        <div class="fr-upload-group">
            <label class="fr-label" for="file-upload">{% translate 'Add files' %}
                <span class="fr-hint-text">{% translate 'Max size allowed : 30 Mo. Multiple files allowed.' %}</span>
            </label>
            <input class="fr-upload" type="file" id="file-upload" name="files" multiple required>
        </div>
        <input value="{% translate 'Upload' %}" class="button" type="submit" id="upload-button">
    </form>
    <div class="documents-wrapper">
        <h2>{% translate 'Documents' %}</h2>
        <div>
            <table id="document_list">
                <thead>
                    <tr>  
                        <th scope="col" class="column-name">
                            <div class="text">{% trans "File name" %}</div>
                            <div class="clear"></div>
                        </th>
                        <th scope="col" class="column-name">
                                <div class="text">{% trans "Last modified" %}</div>
                                <div class="clear"></div>
                        </th>
                        <th scope="col" class="column-name">
                                <div class="text">{% trans "Size" %}</div>
                                <div class="clear"></div>
                        </th>
                        <th scope="col" class="column-name"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="no_data" style="display:none">
                        <td colspan="4">{% translate 'No document yet' %}</td>
                    </tr>
                    <tr class="loading">
                        <td><div>&nbsp;</div></td>
                        <td><div>&nbsp;</div></td>
                        <td><div>&nbsp;</div></td>
                        <td><div>&nbsp;</div></td>
                    </tr>
                </tbody>
                </table>
        </div>
    </div>
</div>
<script src="{% url 'javascript-catalog' %}"></script>

<script type="text/javascript">
    const projectId = "{{ project.id }}";
</script>
<script src="{% static 'pages/document.js' %}"></script>
<script src="{% static 'pages/upload.js' %}"></script>

{% endblock %}