@media (max-width: 767px) { /* disable responsive.css rule */
  div.autocomplete-input {
    flex-flow: unset;
  }
}

.typeahead-field {
    position: relative;
    display: inline-block;
  }

.typeahead-field input.autocomplete-input__name {
  max-width: none !important;
}

.typeahead-field .typeahead-list {
  background-color: var(--background-default-grey);
  filter: drop-shadow(var(--overlap-shadow));
  position: absolute;
  z-index: 1000;
  top: 41px;
  width: 100%;
  max-height: 500px;
  overflow: scroll;
  left: 0;
  right: 0;
}

.typeahead-field .typeahead-list button, .typeahead-field .typeahead-list div {
  text-align: left;
  padding: .75rem 1rem;
  width: 100%;
}