{% extends "admin/base_site.html" %}
{% load i18n admin_urls static projects %}

{% block coltype %}colM{% endblock %}

{% block content_subtitle %}{% endblock %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "css/components/file_table.css" %}">
{% endblock %}

{% block top_header %}
    {% project_header project.id %}
{% endblock %}

{% block content %}
{% project_tabs project.id request %}

<div id="content-main">
    <ul class="messagelist"></ul>
    <div class="fr-grid-row fr-grid-row--right">
        <button is="virtual-office-button" project-name="{{ project.name }}" class="fr-btn fr-icon-arrow-right-line fr-btn--icon-right">{% trans "Access virtual office" %}</button>
    </div>
    <div class="fr-tabs">
        <ul class="fr-tabs__list" role="tablist" aria-label="{% trans "Runs data" %}">
            {% for run in runs %}
            <li role="presentation">
                <button id="tabpanel-run-{{ run.id }}" 
                        class="fr-tabs__tab fr-icon-checkbox-line fr-tabs__tab--icon-left" 
                        tabindex="{{ forloop.counter0 }}" 
                        role="tab" 
                        aria-selected="{% if forloop.counter0 == 0 %}true{% else %}false{% endif %}" 
                        aria-controls="tabpanel-run-{{ run.id }}-panel">{{ run.label }}</button>
            </li>
            {% endfor %}
        </ul>
        {% for run in runs %}
        <div id="tabpanel-run-{{ run.id }}-panel" 
             class="fr-tabs__panel {% if forloop.counter0 == 0 %}fr-tabs__panel--selected{% endif %}"
             role="tabpanel" 
             aria-labelledby="tabpanel-run-{{ run.id }}" 
             tabindex="{{ forloop.counter0 }}">
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-12 fr-col-lg-6">
                        <div class="fr-background-default--grey fr-p-3v">
                            <h3>{% trans "Raw data" %}</h2>
                            {% include "workplace/components/data_file_table.html" with component=run.raw_data_table %}
                        </div>
                    </div>
                    <div class="fr-col-12 fr-col-lg-6">
                        <div class="fr-background-default--grey fr-p-3v">
                            <h3>{% trans "Processed data" %}</h2>
                            {% include "workplace/components/data_file_table.html" with component=run.processed_data_table %}                
                        </div>
                    </div>
                </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block footer %}
{{ block.super }}
<script src="{% url 'javascript-catalog' %}"></script>
<script>
    window.projectName = "{{ project.name }}"
    window.runs = [{% for run in runs %}{ id: {{ run.id }}, name: "{{ run.label }}" },{% endfor %}]
</script>
<script src="{% static 'pages/workplace.js' %}"></script>
{% endblock %}