:root {
  --blue-france: #000091;
  --blue-france-300: #9a9aff;
  --blue-france-hover: #1414b2;
  --black-euphro: #383838;
  --g-100: #f8f8f8;

  --primary: var(--blue-france);

  --header-bg: white;
  --header-color: var(--black-euphro);

  --button-bg: var(--primary);
  --button-hover-bg: var(--blue-france-hover);
  --link-fg: var(--primary);
  --default-button-bg: var(--blue-france-300);
  --default-button-hover-bg: var(--blue-france-hover);
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne"),
    url("~@gouvfr/dsfr/dist/fonts/Marianne-Regular.woff") format("woff"),
    url("~@gouvfr/dsfr/dist/fonts/Marianne-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne_Italic"),
    url("~@gouvfr/dsfr/dist/fonts/Marianne-Regular_Italic.woff") format("woff"),
    url("~@gouvfr/dsfr/dist/fonts/Marianne-Regular_Italic.woff2")
      format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne-Bold"),
    url("~@gouvfr/dsfr/dist/fonts/Marianne-Bold.woff") format("woff"),
    url("~@gouvfr/dsfr/dist/fonts/Marianne-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Marianne";
  src: local("Marianne-Bold_Italic"),
    url("~@gouvfr/dsfr/dist/fonts/Marianne-Bold_Italic.woff") format("woff"),
    url("~@gouvfr/dsfr/dist/fonts/Marianne-Bold_Italic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne-Light"),
    url("~@gouvfr/dsfr/dist/fonts/Marianne-Light.woff") format("woff"),
    url("~@gouvfr/dsfr/dist/fonts/Marianne-Light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Marianne";
  src: local("Marianne-Light_Italic"),
    url("~@gouvfr/dsfr/dist/fonts/Marianne-Light_Italic.woff") format("woff"),
    url("~@gouvfr/dsfr/dist/fonts/Marianne-Light_Italic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

body {
  font-family: "Marianne", "Roboto", "Lucida Grande", "DejaVu Sans",
    "Bitstream Vera Sans", Verdana, Arial, sans-serif;
  background-color: var(--g-100);
}

#branding h1,
#branding h1 a:link,
#branding h1 a:visited {
  color: var(--black-euphro);
  font-weight: bold;
}
#user-tools {
  font-weight: 400;
  a {
    &:link {
      color: var(--black-euphro);
    }
    &:visited {
      color: var(--black-euphro);
    }
  }
  #logout-link {
    color: var(--delete-button-bg);
  }
}
.module {
  caption {
    background-color: white;
    a.section {
      &:link {
        color: var(--black-euphro);
      }
      &:visited {
        color: var(--black-euphro);
      }
    }
  }
  th {
    font-weight: 400;
  }
}

tr:nth-child(2n + 1),
.row-form-errors {
  background: var(--darkened-bg);
}
tr:nth-child(2n),
tr:nth-child(2n) .errorlist,
tr:nth-child(2n + 1) + .row-form-errors,
tr:nth-child(2n + 1) + .row-form-errors .errorlist {
  background: var(--body-bg);
}

.inline-group h2 {
  text-transform: inherit;
}

ul.messagelist {
  li {
    cursor: pointer;
    span.close {
      float: right;
      font-weight: 800;
      color: var(--body-quiet-color);
      cursor: pointer;
    }
  }
}

/* DSRF overrides */

[href] {
  box-shadow: none;
}
