#METHODS h2 {
  font-size: 13px;
  font-weight: bold;
  color: var(--body-fg);
  padding-left: 10px;
}

#METHODS h2::after {
  content: ": *";
}

.method-container {
  margin: 1em;
  padding: 1em;
}

.detector-container {
  margin: 0.5em 1em;
  padding: 0.5em;
}

.filter-container {
  margin: 0.25em 1em;
  padding: 0.25em;
}

.other-select {
  margin-right: 2em;
}
.other-input {
  display: inline-block;
}
