#objects-group tr:first-child .inline-deletelink {
  display: none !important;
}

fieldset div.field-label label {
  font-weight: bold;
  color: var(--body-fg);
}

h3.fr-accordion__title {
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
}

input:disabled {
  background-color: var(--grey-950-100);
}

form .aligned ul {
  margin-left: 0;
}

.submit-row a.closelink {
  display: none;
}

input[type="submit"][disabled].default {
  color: white;
}

.import-from-input .fr-search-bar {
  max-width: 500px;
  margin-bottom: 1rem;
}

.field-discovery_place_location, .field-dating {
  overflow: initial;
}

.autocomplete-input input {
  width: 20em;
  margin-top: .5rem;
}