.no-document {
  height: 250px;
  align-items: center;
  display: flex;
  justify-content: center;
}

form#upload-form {
  margin-bottom: 30px;
}

#upload-button {
  float: none;
  margin-top: 15px;
}

.documents-wrapper {
  clear: both;
}

input[type="file"] {
  cursor: pointer;
}

ul.messagelist.uploadmessages li {
  cursor: pointer;
}

ul.messagelist.uploadmessages li span.close {
  float: right;
  font-weight: 800;
  color: var(--body-quiet-color);
  cursor: pointer;
}
