.two-boxes-inline-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px;
}
.two-boxes-inline-container .inline-related {
  flex: 1;
  min-width: 350px;
  max-width: 600px;
  margin: 10px;
}
.two-boxes-inline-container .inline-related h3 {
  background: var(--body-bg);
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.fr-tag.a-planifier {
  background: #fcdf41;
}
