@media (min-width: 900px) {
  .inline-group td .autocomplete-input {
    min-width: 500px;
  }
  .inline-group .typeahead-field {
    width: 60%;
  }
  .inline-group .autocomplete-input__country {
    width: 40%;
  }
  .inline-group td.delete input {
    /* add margin so th delete is in one line */
    margin: 0 40px;
  }
}

body.change-list {
  background-color: var(--background-default-grey);
}

.related-widget-wrapper {
  align-items: center;
}

.related-widget-wrapper select.fr-select {
  width: calc(100% - 100px);
}

.inline-group .field-user input {
  max-width: unset;
  width: 100%;
}

.inline-group .delete {
  vertical-align: middle;
}

.inline-group.inline-group {
  overflow: inherit !important; /* for typeahead list to be absolute */
}

.inline-group tbody th {
  text-transform: uppercase;
  font-size: 0.6875rem;
}

#content-main {
  background-color: var(--body-bg);
}

#content-main.project-change {
  background-color: transparent;
}

.project-change .form-col {
  background-color: var(--body-bg);
  height: 100%;
}

fieldset {
  box-shadow: none;
}

fieldset .description p {
  margin: 0;
  padding: 0;
}

fieldset textarea.vLargeTextField {
  width: 100%;
}

#project_form input {
  max-width: 35rem;
}

.two-boxes-inline-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px;
}
.two-boxes-inline-container .inline-related {
  flex: 1;
  min-width: 350px;
  max-width: 600px;
  margin: 10px;
}
.two-boxes-inline-container .inline-related h3 {
  background: var(--body-bg);
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

td.field-status {
  white-space: nowrap;
}

.deletelink-box {
  font-size: 13px;
}

.field-confidential .checkbox-row {
  flex-direction: row-reverse;
}

.field-confidential .checkbox-row label {
  padding-left: 0;
}

.field-confidential .checkbox-row label::after {
  content: " :";
}

.dynamic-beamtimerequest h3 {
  display: none;
}

#changelist .paginator {
  background-color: transparent;
}

.project-change .field-institution {
  width: 300px;
}

.project-add .field-institution > div {
  max-width: 600px;
}

.project-add .field-institution.form-row {
  overflow: inherit; /* for  absolute-positioned typeahead list to overflow this element */
}

.project-add .field-institution div.autocomplete-input {
  justify-content: normal;
}

#participation_set-group .field-institution div.autocomplete-input {
  margin-right: 110px;
}

.inline-group .delete {
  width: 70px;
}

td.field-has_radiation_protection_certification {
  vertical-align: inherit;
  width: 40px;
}

input#id_institution__country {
  max-width: none;
}

.field-institution .typeahead-field {
  width: 60%;
}
.field-institution .autocomplete-input__country {
  width: 40%;
}