#changelist {
  background: unset;
}

.mt-30 {
  margin-top: 30px;
}

.action-select {
  display: none;
}

.actions {
  display: none;
}

.run-clickable-card {
  cursor: pointer;
  padding: 6px;
}

.run-clickable-card__selected {
  border: 3px solid var(--breadcrumbs-bg);
  padding: 3px;
}

.run-footer {
  position: sticky;
  bottom: 0;
  width: 102%;
  margin-left: -1%;
  border-top: 1px solid var(--grey-950-100);
  margin-top: 1em;
  height: 5em;
  padding: 1em;
}

#changelist .fr-card__title a {
  background-image: none;
  color: var(--text-action-high-blue-france)
}

#changelist .add-row a {
  color: var(--text-active-blue-france);
}

.run-list .fr-grid-row--gutters {
  margin: 0;
}