body {
  background-color: var(--background-alt-grey);
}

#changelist {
  background: unset;
}

.module h4 {
  padding-left: 0;
  padding-right: 0;
}

.action-select {
  display: none;
}

.actions {
  display: none;
}

.run-clickable-card {
  cursor: pointer;
  padding: 6px;
}

.run-clickable-card__selected {
  outline: 3px solid var(--border-default-blue-france);
}

.run-footer {
  position: sticky;
  bottom: 0;
  width: 102%;
  margin-left: -1%;
  border-top: 1px solid var(--grey-950-100);
  margin-top: 1em;
  height: 5em;
  padding: 1em;
}

#changelist .fr-card__title a {
  background-image: none;
  color: var(--text-action-high-blue-france)
}

#changelist .add-row a {
  color: var(--text-active-blue-france);
}

.run-list .fr-grid-row--gutters {
  margin: 0;
}

.card-add-run {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: dashed;
  height: 100%;
  border-color: var(--border-default-grey);
  min-height: 300px;
}

.module .fr-card__desc p {
  padding-left: 0;
  padding-right: 0;
}