#changelist {
  background: unset;
}

.mt-30 {
  margin-top: 30px;
}

.action-select {
  display: none;
}

.actions {
  display: none;
}

.run-clickable-card {
  cursor: pointer;
  padding: 6px;
}

.run-clickable-card__selected {
  border: 4px solid var(--breadcrumbs-bg);
  padding: 2px;
}

#run-changestate-action {
  color: var(--primary-fg);
  padding: 0.5em 1em;
  font-weight: bold;
  font-size: large;
}
