<span>
    <span class="fr-grid-row">
        {% for method in methods %}
            <span
              class="fr-col-6"
              style="display: flex;">
              <span>
                <strong>{{ method.name }}</strong>
              </span>
              <span class="fr-ml-2v">
                {% for detector in method.detectors %}
                      <span>
                        <span>
                          {{ detector.name }}
                          {% if detector.filters %}
                          {{": "}}
                          {% endif %}
                          {{ detector.filters|join:", " }}
                        </span>
                      </span>
                {% endfor %}
              </span>
            </span>
        {% endfor %}
    </span>
  </span>