name: Test
on:
  pull_request:
    types: [opened, reopened, synchronize]
  workflow_call:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  DJANGO_SECRET_KEY: n0t5os3cre7-${{ github.sha }}
  EMAIL_HOST: localhost
  EMAIL_PORT: 1025
  EMAIL_HOST_USER:
  EMAIL_HOST_PASSWORD:
  EMAIL_USE_TLS: false
  DEFAULT_FROM_EMAIL: h@ll.o
  SITE_URL: http://localhost:8000
  PYTHON_VERSION: 3.12.8
  EUPHROSYNE_TOOLS_API_URL: http://localhost:8001
  EROS_HTTP_TOKEN: token
  RADIATION_PROTECTION_TALLY_SECRET_KEY: secret
  RADIATION_PROTECTION_RISK_ADVISOR_EMAIL: test@test.com
  RADIATION_PROTECTION_RISK_ADVISOR_FULLNAME: Risk Advisor

jobs:
  python-checks:
    runs-on: ubuntu-22.04
    steps:
      # -- block install --
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: pip
          cache-dependency-path: |
            requirements/dev.txt
            requirements/base.txt
      - name: Install dev requirements
        run: pip install -r requirements/dev.txt
      # -- endblock install --

      - name: Install GNU gettext
        run: sudo apt install gettext

      - name: Pylint check
        run: python -m pylint $(git ls-files '*.py' | grep -v '/migrations/')
      - name: Black check
        run: python -m black --check .
      - name: Isort check
        run: python -m isort --check .
      - name: Flake8 check with mccabe complexity 10
        run: python -m flake8 --max-complexity 10 $(git ls-files '*.py' | grep -v '/migrations/')

      - name: Check no migration is missing
        run: ./manage.py makemigrations --check --dry-run
      - name: Check no makemessages translation is missing
        run: |
          ./manage.py makemessages --all --verbosity 0 --no-location --no-obsolete
          git diff -I'^"PO' --exit-code locale/*/LC_MESSAGES/django.po  # Fail if any change apart from headers.
          git checkout -- locale/*/LC_MESSAGES/django.po
          ./manage.py makemessages --all --verbosity 0 --no-obsolete --no-location -d djangojs --ignore 'node_modules/*' --ignore 'venv/*' --ignore 'euphrosyne/assets/dist/*' -e js,tsx,ts,jsx
          git diff -I'^"PO' --exit-code locale/*/LC_MESSAGES/djangojs.po  # Fail if any change apart from headers.
          git checkout -- locale/*/LC_MESSAGES/djangojs.po
      - name: Check no translation is empty
        run: |
          # Inspired from https://blog.erw.dk/2015/06/06/checks-for-your-django-project/
          missing_translations=$(sed '$a\\' locale/*/LC_MESSAGES/django.po | tac | sed '/^$/N;/\nmsgstr ""$/,/^msgid/!d' | tac)
          [ $(wc -l <(echo $missing_translations) | cut -d ' ' -f1) = '1' ]

      - name: Run mypy on selected folders
        run: |
          python -m mypy $(git ls-files '*.py' | grep -v '/migrations/')

  python-tests:
    runs-on: ubuntu-22.04
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: password
          POSTGRES_DB: euphrosyne
          POSTGRES_USER: euphrosyne
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      # -- block install --
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: pip
          cache-dependency-path: |
            requirements/dev.txt
            requirements/base.txt
      - name: Install dev requirements
        run: pip install -r requirements/dev.txt

      - uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "npm"
      - name: Install modules
        run: npm ci
      - name: Build files with webpack
        run: npm run build
      # -- endblock install --

      - name: Collect static files
        run: rm -rf _static && python manage.py collectstatic --clear --noinput

      - name: Pytest
        run: python -m pytest .
        env:
          DB_HOST: localhost
          DB_USER: euphrosyne
          DB_PORT: 5432
          DB_PASSWORD: password
          DB_NAME: euphrosyne

  frontend-tests:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "npm"
      - name: Install modules
        run: npm ci

      - name: Run eslint
        run: npx eslint .
      - name: Check Prettier
        run: npx prettier -c $(git ls-files | grep -E '\.(js|json|yaml)$')
      - name: Run tsc
        run: npm run lint:tsc
      - name: Run tests
        run: npm run test
