{% include "forms/widgets/datalist.html" %}
<script async>
(() => {
  const toggleDatalistInput = (controlValue) => {
    document.querySelectorAll('input[name^="{{ widget.controlled_name_prefix }}"]').forEach((el) => {el.style.display = 'none'})
    if (typeof controlValue !== 'undefined') {
      document.querySelectorAll(`input[name="{{ widget.controlled_name_prefix}}${controlValue}"]`).forEach((el) => {el.style.display = 'inline-block'})
    }
  }
  const initValue = document.querySelector('select[name="{{ controller_field_name }}"]').value
  toggleDatalistInput(initValue)

  document.querySelector('select[name="{{ controller_field_name }}"]').addEventListener('change', (e) => {
    const newValue = e.target.value
    toggleDatalistInput(newValue)
  })
})()
</script>
