<input type="{{ widget.type }}" name="{{ widget.name }}" list="{{ widget.list_id }}"{% if widget.value != None %} value="{{ widget.value.0|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" %}>
<datalist id="{{ widget.list_id }}"{% include "django/forms/widgets/attrs.html" %}>{% for group_name, group_choices, group_index in widget.optgroups %}{% if group_name %}
  <optgroup label="{{ group_name }}">{% endif %}{% for option in group_choices %}
  {% include option.template_name with widget=option %}{% endfor %}{% if group_name %}
  </optgroup>{% endif %}{% endfor %}
</datalist>
